@import url("http://fonts.googleapis.com/css?family=Press+Start+2P");

body {padding: 0; margin: 0; overflow: hidden;}

#loading
{
  z-index:100;
  position:absolute;
  width:300px;
  height:100px;
  margin-top: -50px;
  margin-left:-150px;
  top:50%;
  left:50%;
  text-align: center;
}

#loading img
{
  width:64;
  height:64;
}

#loading p, #score, #retry
{
  position: relative;  
  font: 32px "Press Start 2P", cursive;
  color: white;
  text-align: center;
  margin: 0;
}

#score
{
  margin-top:20px;
}

#gameover
{
  z-index: 1;
  position:absolute;
  width:400px;
  height:150px;
  margin-top: -75px;
  margin-left: -200px;
  top:50%;
  left:50%;
  background-color: #8c8c8c;
  display:none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.35);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.35);
}

#retry
{
  cursor:pointer;
  margin-top:20px;
}

.kineticjs-content
{
  display: block !important;
}